body {
  background-color: #dbf6e9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  width: 5%;
  opacity: 30%;
  }
h1{
  color: #66bfbf;

}
h3{
  color: #66bfbf;

}

footer{
  background-color: white;
}
